body {
    font: 1em "Helvetica", sans-serif;
    background-color: #edeff0;
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
}

input,
textarea {
    font-size: inherit;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #bbb;
}

label {
    display: block;
    margin-bottom: 20px;
}

.faded {
    color: #bbb;
}